@import '~reactnator/dist/Reactnator.css'

li
  display block


.reactnator
    margin-top 100vh

    &__content
        display flex

    &__page-number
        cursor pointer
        padding 5px
        margin 0 10px

        &--active
            color tomato
